* {
  padding: 0;
  margin: 0;
  font-family: 'YouYuan';
  color: #36879C;
  text-decoration: none;
}
ul {
  list-style: none;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.background {
  width: 100vw;
  height: 100vh;
  background-image: url(../../image/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  margin: 0 auto;
  overflow: hidden;
}
.background .top-bar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(170, 200, 238, 0.99);
  margin: 0 auto;
  justify-content: space-between;
}
.background .top-bar .line {
  margin: 0 auto;
  width: 80%;
  background-color: #36879C;
  border: 0.5px solid #36879C;
}
.background .top-bar .left {
  position: relative;
  display: flex;
  width: 500px;
  height: 100%;
  line-height: 50px;
  justify-content: space-between;
}
.background .top-bar .left .function-list .iconfont {
  margin-left: 50px;
  font-size: 35px;
}
.background .top-bar .left .function-list ul {
  position: absolute;
  left: 0;
  top: 50px;
  width: 150px;
  overflow: hidden;
  height: 0;
  background-color: #E7EAED;
  font-size: 12px;
  transition: 0.3s;
}
.background .top-bar .left .function-list ul li {
  width: 100%;
  text-align: center;
}
.background .top-bar .left .function-list ul li:hover a {
  color: black;
}
.background .top-bar .left .function-list ul .line {
  width: 70%;
}
.background .top-bar .left .function-list:hover ul {
  height: 300px;
}
.background .top-bar .mid {
  display: flex;
  width: 600px;
  height: 100%;
}
.background .top-bar .right {
  display: flex;
  width: 400px;
  height: 100%;
  line-height: 50px;
  align-items: center;
  justify-content: space-evenly;
}
.background .top-bar .right .student-logo .icon {
  margin-top: 10px;
  font-size: 50px;
}
.background .top-bar .right a .icon-tuichu {
  display: block;
  height: 50px;
  color: #ece6e6;
  font-size: 35px;
}
.background .top-bar .right a .icon-tuichu:hover {
  color: black;
}
.background .top-bar .right .people {
  position: relative;
  width: 100px;
  text-align: center;
  font-size: 35px ;
  color: #fff;
}
.background .top-bar .right .people .person {
  width: 100px;
  text-align: center;
  font-size: 35px ;
}
.background .top-bar .right .people .student-info {
  display: block;
  position: absolute;
  width: 100px;
  height: 0;
  overflow: hidden;
  top: 50;
  font-size: 10px;
  transition: 0.3s;
}
.background .top-bar .right .people .triangle {
  position: absolute;
  display: none;
  border: 5px solid #E7EAED;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: 40px;
  left: 45px;
}
.background .top-bar .right .people:hover .student-info {
  height: 200px;
  background-color: #E7EAED;
}
.background .top-bar .right .people:hover .triangle {
  display: block;
}
.background .top-bar .right .people li:hover a {
  color: black;
}
.background .cqe {
  width: 600px;
  margin: 50px auto;
}
.background .cqe img {
  width: 600px;
}
